.app-page-product {
    .app-product-slider {
        margin-bottom: 8px;
    }

    .app-product-social {
        margin-bottom: 16px;
    }

    .app-product-nav {
        margin-bottom: 16px;
    }

    .app-product-summary {
        margin-bottom: 32px;
    }

    .app-product-form {
        margin-bottom: 46px;
    }
}
