/*==============================================================
*                        Gilroy
/*============================================================== */
@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    font-display: swap;
    src: url('../../../fonts/gilroy/Gilroy-Regular.ttf'),
        url('../../../fonts/gilroy/Gilroy-Regular.woff') format('woff'),
        url('../../../fonts/gilroy/Gilroy-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    font-display: swap;
    src: url('../../../fonts/gilroy/Gilroy-Medium.ttf'),
        url('../../../fonts/gilroy/Gilroy-Medium.woff') format('woff'),
        url('../../../fonts/gilroy/Gilroy-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 600;
    font-display: swap;
    src: url('../../../fonts/gilroy/Gilroy-Semibold.ttf'),
        url('../../../fonts/gilroy/Gilroy-Semibold.woff') format('woff'),
        url('../../../fonts/gilroy/Gilroy-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    font-display: swap;
    src: url('../../../fonts/gilroy/Gilroy-Bold.ttf'),
        url('../../../fonts/gilroy/Gilroy-Bold.woff') format('woff'),
        url('../../../fonts/gilroy/Gilroy-Bold.woff2') format('woff2');
}
